[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
attrs = "*"
biopython = "*"
bitstring = "*"
numpy = "*"

[dev-packages]
hypothesis = "*"
pytest = "*"
pytest-cov = "*"
pytest-flake8 = "*"
python-coveralls = "*"
pytest-pylint = "*"
